.wrapper {
    position: relative;
    height: 100%;
}

.content-container {
    margin-top: 0px;
    height: 750px;
    display: flex;
    justify-content: space-between;


    .my-Image {
        display: flex;
        align-items: flex-end;
        width: 50%;

        img {
            position: absolute;
            max-height: 100%;
            z-index: -3;
        }

        .me-image-overlay {
            z-index: -1;
        }

        .vector-form1 {
            position: absolute;
            left: 0px;
            top: -100px;
            min-height: 2000px;
            z-index: -2;
        }

    }


    .title-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 40%;
        margin-bottom: 120px;

        .my-Title {
            align-self: stretch;
            margin-bottom: 30px;


            img {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .content-container {
        .my-Image {
            width: unset;

            img {
                max-height: 90%;
            }
        }

        .title-content {
            max-width: 45%;
        }
    }
}

@media screen and (max-width: 1050px) {
    .content-container {
        flex-direction: column;
        align-items: center;
        height: unset;


        .my-Image {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 700px;

            img {
                max-height: 75%;
            }

            .vector-form1 {
                top: 90px !important;
            }
        }

        .title-content {
            max-width: 65%;
            margin-bottom: unset;

            img {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .content-container {
        .title-content {
            max-width: 80%;
        }
    }
}

@media screen and (max-width: 680px) {
    .content-container {
        .title-content {
            max-width: unset;

            .my-Title {
                display: flex;
                justify-content: center;
            }

            img {
                width: 100%;
            }
        }

        .vector-form1 {
            left: -250px !important;
        }

    }

}

@media screen and (max-width: 480px) {
    .content-container {
        .my-Image {
            height: 650px !important;

            .vector-form1 {
                top: 45px !important;
            }
        }
    }
}