.title {
    margin-top: 72px;
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.myImage {
    position: relative;
    background-color: red;

    img {
        position: absolute;
        max-height: 100%;
        // top: 0px;
        // left: 0px;
        // right: 0px;
        // bottom: 0px;
        z-index: 1;
    }
}

.title-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.myTitle {
    min-width: 533px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    span {
        max-height: 31px;
        padding-left: 4px;
        font-size: 44px;
        height: 100%;
        transform: rotate(-90deg);
    }
}

.name-and-title {
    line-height: 60px;

    h1 {
        transition: all 2s ease-in-out;
    }

    h2 {
        font-size: 41px;
    }
}
