<div class="wrapper">

    <div class="content-container">
        <div class="my-Image">
            <img class="me-image" src="/assets/img/me.png" alt="me_image">
            <img class="me-image-overlay" src="/assets/img/me_overlay.png" alt="me_image">
        </div>
        <div class="title-content" #titleLogo>
            <div class="my-Title">
                <div class="i-am">
                    <img src="../../assets/img/i-am.png" alt="i-am-text">
                </div>
                <div class="name-and-title">
                    <h1>Ingo Hermsen</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <a href="#"><button class="blue-button">Let's talk!</button></a>
            <img class=vector-form1 src="./assets/img/forms/form_vector_1.svg" alt="form-vector-graphic">
        </div>
    </div>
</div>