.wrapper {
    position: relative;
    height: 100%;
}

.content-container {
    margin-top: 0px;
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.my-Image {
    display: flex;
    position: relative;

    img {
        position: absolute;
        max-width: 750px;
        z-index: -3;
    }

    .me-image-overlay {
        z-index: -1;
    }
}

.vector-form1 {
    position: absolute;
    left: 0px;
    top: 70px;
    min-width: 100%;
    min-height: 1423px;
    z-index: -2;
}

.title-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-bottom: 140px;
}

.my-Title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .i-am {
        height: 95px;
        margin-right: 10px;
        padding-bottom: 4px;

        img {
            max-height: 100%;
        }
    }
}

.name-and-title {
    line-height: 60px;

    h1,
    h2 {
        white-space: nowrap;
    }

    h2 {
        font-size: 41px;
    }
}

@media screen and (max-width: 1900px) {
    .vector-form1 {
        top: 90px;
    }
}

@media screen and (max-width: 1050px) {
    .content-container {
        flex-direction: column;
        height: unset;
    }

    .my-Image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 30px;
        min-width: 100%;
        height: 700px;

        img {
            max-height: 700px;
        }
    }

    .title-content {
        margin-bottom: unset;
    }
}

@media screen and (max-width: 700px) {
    .my-Image {
        height: 750px;

        img {
            max-height: unset;
            min-width: 120vw;
        }


    }

}

@media screen and (max-width: 540px) {
    .my-Image {
        height: 575px;
        width: 100%;
        margin-bottom: 30px;

        img {
            max-width: 100vw;
        }
    }

    .vector-form1 {
        min-height: 1150px;
    }
}

@media screen and (max-width: 470px) {
    .my-Image {
        height: 500px;
    }

    .vector-form1 {
        top: 20px;
        min-height: unset;
    }


}

@media screen and (max-width: 420px) {
    .my-Image {

        img {
            max-width: unset;
            width: 130vw;
        }
    }


}

@media screen and (max-width: 370px) {
    .my-Image {
        height: 440px;

        img {
            max-width: unset;
            width: 130vw;
        }
    }

    .vector-form1 {
        top: -20px;
        min-height: 500px;
    }


}