<div class="footer">
    <div class="content-container">
        <div class="wrapper">
            <app-name-logo class="name-logo"></app-name-logo>
            <span class="copyright">&copy; Ingo Hermsen 2023</span>
            <app-contacticons class="contact-links"></app-contacticons>
            <div class="policy-links">
                <a routerLink="/imprint"><span class="policy-link">Impressum</span></a>
                <a routerLink="/data-protection"><span class="policy-link">Datenschutz</span></a>
            </div>
        </div>

    </div>
    <div class="this-page-note">
        <span>This page was created with</span>
        <div class="this-page-techs">
            <span>Angular</span>
            <span>TypeScript</span>
            <span>Material Design</span>
        </div>
        <a href="https://github.com/IngoHermsen/portfolio" target="_blank">See the repository on github</a>
    </div>
</div>