.links {
    display: flex;
    column-gap: 40px;


    a {
        position: relative;

        &::after {
            transition: all 90ms ease-in;
            content: '';
            width: 0px;
            height: 1px;
            background-color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }

        &:hover {
            &::after {
                transition: all 175ms ease-in;
                width: 100%;
            }
        }
    }
}

.flex-column {
    text-align: center;
    flex-direction: column !important;

    a {
        margin: 15px 0px;
    }
}