<div class="about-me">

    <div class="about-me-text">

        <h1>About me</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat consequuntur libero modi id cumque autem a
        excepturi laboriosam dignissimos facilis quasi ad, consectetur doloremque, eveniet fuga eius earum? Maiores,
        soluta.
        <div class="about-me-paragraph">
            <img src="../../assets/img/icons/light_bulb_blue.png" alt="light_bulb_icon">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio eligendi labore quam, iusto reprehenderit
                quo
                quos officia, aliquam corrupti officiis laborum nesciunt. Quisquam perferendis consequatur quam suscipit
                saepe beatae nihil.
            </p>
        </div>
        <div class="about-me-paragraph">
            <img src="../../assets/img/icons/puzzle_piece_blue.png" alt="light_bulb_icon">
            <p>
                ipsum dolor sit amet consectetur adipisicing elit. Modi, ea excepturi dolore enim omnis inventore? Ad
                veritatis officiis sed quidem similique. Assumenda alias commodi nihil repudiandae nesciunt, sint
                tenetur
                eaque?
            </p>
        </div>
    </div>
    <div class="about-me-image">
        <img src="./assets/img/me_small.png" alt="my-image-small">
    </div>

</div>