<div class="content-container">

    <div class="about-me-text">

        <h1 id="about-me">About me</h1>
        I am a frontend developer based in Weeze, North-Rhine-Westphalia in Germany.
        I have built several Web-Apps and attended an extensive Coding School, where I learned professional operating
        principles in programming.
        Feel welcome to visit my public portfolio, which includes responsive websites, a small 2d-game and a Kanban-based task
        manager.
        <div class="about-me-paragraph">
            <img src="./assets/img/icons/light_bulb_blue.png" alt="light_bulb_icon">
            <p>
                My idea to enhance my programming skills grew in 2022.
                <br>
                I was looking for a simple app as a companion for the players of a complex boardgame called
                'Mage Knight'. The main goal was to reduce the needed space on the table.
                <br>
                I couldn't find a appropriate app on the web and so I wanted to build one myself.
                <br>
                Unfortunately I only had little knowledge about html much fewer about javascript.
                <br><br>

            </p>
        </div>
        <div class="about-me-paragraph">
            <img src="./assets/img/icons/puzzle_piece_blue.png" alt="light_bulb_icon">
            <p>
                So I began to read much about programming and did my first steps with javascript.
                <br>
                In an intense 40-hours online course I learned very much of the basics by building a small functional budget book.
                From that time I was really hooked by the possibilities and solutions that can be achieved by web
                development.
                <br>
                In November 2022 I decided to get my knowledge to a professional level by attending Developer Akademie.
                I would love to bring my passion for web development into your team. 
            </p>
        </div>
    </div>
    <div class="about-me-image">
        <img src="./assets/img/me_circle_image.png" alt="my-image-small">
    </div>

</div>