.content-container {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;

    .first-button {
        display: none;
    }

    .skill-collection {
        max-width: 700px;
        display: flex;
        column-gap: 80px;
        row-gap: 50px;
        flex-wrap: wrap;

        .skill {
            width: 90px;
            align-self: flex-end;

            * {
                display: flex;
                justify-content: center;
            }

            span {
                padding-top: 10px;
                text-align: center;
            }
        }

    }

    .skill-text {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
        min-width: 40%;
        margin-left: 30px;
        text-align: right;


        h1 {
            scroll-margin-top: 72px;
            align-self: flex-end;
            position: relative;

            &::after {
                content: '';
                margin-left: 30px;
                width: 50vw;
                height: 3px;
                background-color: #9747FF;
                position: absolute;
                top: 50%;
                z-index: 0;
            }
        }

        span {
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 850px) {
    .content-container {
        flex-direction: column-reverse;

        .skill-collection {
            padding-left: 40px;
            align-self: center;
        }

        .first-button {
            display: inline-block;
            margin-top: 80px;
            align-self: center;
        }

        .second-button {
            display: none;
        }
    }
}

@media screen and (max-width: 546px) {

    .skill-collection {
        padding-left: 10px !important;
        column-gap: 50px !important;

        .skill {
            width: 60px;

            img {
                width: 50px;
            }
        }



    }

}