.vector-form1 {
    position: absolute;
    min-width: 100%;
    left: 0px;
    top: 80px;
    z-index: -1;
}

.vector-container {
    width: 300%;
    overflow: hidden;
}

.contact-links {
    position: relative;
    display: flex;
    align-items: center;


    &::before {
        content: '';
        width: 70px;
        height: 2px;
        background-color: #9747FF;        ;
        position: absolute;
        left: -80px;
        top: 20px;
    }
}