<div *ngFor="let project of projects" class="project">
    <a href='{{ project.link }}' target="_blank" class="preview-image">
        <img src="../../assets/img/{{ project.imagePath }}" alt="{{ project.imagePath }}">
    </a>
    <div class="project-description">
        <h3 class="title">
            {{ project.title }}
        </h3>
        <div class="used-techs">
            <span *ngFor="let tech of project.usedTechs">{{ tech }}</span>
        </div>
        <div class="description-text">{{ project.description }}</div>

        <div class="link-buttons">
            <a href='{{ project.link }}' target="_blank"><button class="live-test-button">Live test</button></a>
            <a href='{{ project.githubLink }}' target="_blank"><button class="github-link-button">Github</button></a>
            <a href='{{ project.jsDocLink }}' target="_blank"><button class="jsdoc-link-button">JSDoc</button></a>
        </div>
    </div>
</div>