.project {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 200px;

    .preview-image {
        width: 40%;

        img {
            width: 100%;
            cursor: pointer;
        }
    }


    .project-description {
        max-width: 50%;

        >h3 {
            color: #4B47FF;
            margin-bottom: 40px;
        }
    }

    .link-buttons {
        display: flex;
        justify-content: flex-start;
        column-gap: 40px;
        margin-top: 40px;
        flex-wrap: nowrap;

        button {
            width: 155px
        }
    }
}

.project:nth-child(even) {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .project-description {
        margin-left: unset;
        margin-right: 120px;
        text-align: right;
    }

    .link-buttons {
        justify-content: flex-end;
    }
}

.used-techs {
    font-size: 24px;
    color: #00BEE8;
    margin-bottom: 24px;

    span:not(:last-of-type) {
        &::after {
            content: ' | '
        }

    }
}

@media screen and (max-width: 1160px) {
    .project {
        flex-direction: column;
        align-items: center;
        text-align: center;


        .project-description {
            max-width: 100%;
        }

        .preview-image {
            width: 60%;
        }


        .link-buttons {
            justify-content: center;
        }

        &:nth-child(even) {
            flex-direction: column;


            .project-description {
                margin-right: unset;
                text-align: center;

            }

            .link-buttons {
                justify-content: center;
            }
        }
    }
}


@media screen and (max-width: 650px) {

    .preview-image {
        width: 80% !important;
    }
}

@media screen and (max-width: 580px) {

    .project {
        margin-bottom: 100px;


        .preview-image {
            width: 100% !important;
        }

        .link-buttons {
            flex-wrap: wrap !important;

            a {
                margin-bottom: 28px;
            }
        }


    }

}