.top-bar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #141D2F;
    z-index: 2;
}

.bottomLine {
    border-bottom: 1px solid rgba(0, 190, 232, 0.2);
}

.burger-icon:hover{
    cursor: pointer;
}

.navigation {
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: right;

      .show-name {
        white-space: nowrap;
        position: absolute;
        font-size: 60px;
        bottom: 12px;
        top: 15px;
        left: 35%;
        animation: toLeftCorner 500ms;
        animation-fill-mode: forwards;
    }

    @keyframes toLeftCorner{
        from {
            opacity: 0.5;
        }

        to {
            opacity: 1;
            font-size: 30px;
            right: unset; 
            left: 30px;
        }
    }
}

.nav-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    background-color: grey;
}

@media screen and (max-width: 1050px) {
    .name-logo {
        left: 20%;
    }

}