// main

html {
     scroll-behavior: smooth;
}

body {
     scroll-margin-bottom: 72px;
     position: relative;
     font-family: 'Poppins';
     color: white;
     margin: 0px;
     background-color: #141D2F;
     overflow-x: hidden;
}

a {  
     color: unset;
     text-decoration: unset;
}

h1 { 
     font-size: 60px;
     margin: 0px;
}

h2 {
     font-weight: 300;
     font-size: 40px;
     margin: 0px;
     color: rgb(72, 12, 237)
}

h3 {
     font-size: 32px;
}

button {
     outline: unset;
     font-family: unset;
     font-size: 25px;
     font-weight: 300px;
     color: white;
     padding: 10px 25px 10px 25px;
     border-radius: 8px;
     max-width: 250px;

     &:hover {
          cursor: pointer;
     }
}

// content

.content-container {
     max-width: 1200px;
     margin: 0px auto;
     padding: 0px 30px;

}

.upper-link-icons {
     margin-top: 120px;
     display: flex;
     column-gap: 40px;
     align-items: center;
}

// buttons

.blue-button {
     border: none;
     background-color: #00BEE8;

     &:hover {
          background-color: #48d1f0
     }

}

.live-test-button {
     border: none;
     background-color: #4B47FF;

     &:hover {
          background-color: #7472f7
     }
}

.github-link-button,
.jsdoc-link-button {
     background-color: transparent;
     border: 1px solid #00BEE8;

     &:hover {
          transition: background-color 125ms ease-in;
          background-color: #2fc1e2;

     }
}


/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
     color: red !important;
}

/* focused color */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
     color: green !important;
}

/* floating label color */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
     color: green !important;
}