.formsbackground {
    position: absolute;
    top: 600px;
    bottom: 0px;
    width: 150vw;
    z-index: -1;
    opacity: 0.6;

    img {
        position: absolute;
        width: 30%;
    }
}

.form1 {
    top: 0%;
    right: 20%;
}

.form2 {
    top: 15%;
    left: -15%;
}

.form3 {
    top: 30%;
    right: 20%;
}

.form4 {
    top: 45%;
    left: -15%;
}

.form5 {
    top: 60%;
    right: 20%;
}

.form6 {
    bottom: 0px;
    left: -15%;
}