<div class="formsbackground">
      <img class="form1" src="./assets/img/forms/shadow_blue_2.png" alt="shadow_blue_2.png">  
      <img class="form2" src="./assets/img/forms/shadow_purple_4.png" alt="shadow_purple_4.png">  
      <img class="form3" src="./assets/img/forms/shadow_blue_3.png" alt="shadow_blue_3.png">  
      <img class="form4" src="./assets/img/forms/shadow_purple_1.png" alt="shadow_purple_1.png"> 
      <img class="form5" src="./assets/img/forms/shadow_blue_1.png" alt="shadow_blue_1.png"> 
      <img class="form6" src="./assets/img/forms/shadow_purple_5.png" alt="shadow_purple_5.png"> 
</div>